.App {
  text-align: center;
  background-color: #282c34;
  height: 150px;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  color: white;
}

a {
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 15px;
  color: #09d3ac;
}
